form input[type="reset"] {
    width: auto;
    padding: 0.7em 1.5em;
    border-bottom-color: #919191;
    background: linear-gradient(#fff, #ddd);
}
form input[type="reset"]:hover {
    background: linear-gradient(#fff, #eaeaea);
}
#home-tables .dataTables_wrapper{
    float:left;
    width:40%;
    margin:5%;
    clear:none;
}
#print{
    margin-left: 385px;
}

.row-color{
    background: #3f9dcc;
}
    




    
   

   
