.div-table{
	overflow-x: hidden;
	overflow-y: scroll;
	height: 200px;
	border-collapse: collapse;
}

.procedure{
	margin: 10px 0 0 10px;
}

.print{
	margin-left: 385px;
}

.row-color{
	background: #3f9dcc;
}

.al{
	text-align: left;
}

.zone{
	margin-left: 15px;
}

.btn-ac{
	margin: 20px 10px;
}