#bitacora-popup{
	width: 480px;
	margin: 0 auto;
	padding: 20px;
	background: #fff;
	border: 1px solid #000;
	border-radius: 13px;
}

#table-popup{
	margin: 0 auto;
}

.print{
	margin-left: 385px;
}

.row-color{
	background: #3f9dcc;
}