#titulo-usuario h2{
	text-align: center;
	width:960px;
	margin: 20px 0px 20px 0px;
}
#busqueda-avanzada{
	width: 300px;
	padding: 0px 0px 0px 0px;
	margin: 0px 800px 0px 5px;
}
#agregar-usuario{
	margin: -18px 0px 20px 750px;
}
#div-tabla {
	padding: 10px 10px 10px 40px;
	margin: 0px 35px 0px 5px;
}
#div-impairment{
	display: inline;
 	margin: 20px 0px 10px 20px;
 	text-align: left;
}
#div-botones{
	display: inline;
	margin: 0px 0px 0px 350px;

}
#eliminar-usuario{
	display: inline;
	width: 350px;
	border: black 1px solid;
	margin:10px 0px 0px 200px;
	float: left;
	padding: 20px 100px 20px 100px;
}
#eliminar-usuario p{
	display: inline-block;
}
#eliminar-usuario button{
	margin:0px 0px 0px 60px;
	border-radius: 5px;
	padding: 5px 35px 5px 35px;
}
#add-user{

	float:right;
	text-align: right;
}
#user-title{
	text-align: center;
}